body {
    font-family: Arial;
    background: #f2f2f2;
}

.card ul li i{
    color:red;
    margin-right:6px;
    width:16px;
}

/* can thang hang noi dung */
.card ul li{
    display:flex;
    align-items:center;
}

.container {
    width: 1200px;
    margin: auto;
}

h2 {
    border-left: 5px solid red;
    padding-left: 10px;
    color: #333;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
}

.card img {
    width: 100%;
}

.card h3 {
    margin: 10px 0;
    font-size: 16px;
}

.card p {
    font-size: 14px;
    color: #555;
}

.card ul {
    list-style: none;
    padding: 0;
    font-size: 13px;
}

.card ul li {
    margin: 5px 0;
}
